* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #df874d;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    border-radius: 50px;
    padding: 20px;
    background-image: linear-gradient(260deg, #ffe44c, #f78e15);
}
.conteiner-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
}
.Mural-Perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #ffA500;
    border-radius: 100px;
    margin-bottom: 15px;
    position: relative;
}
.configs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}
.excluir-conta {
    width: 100px;
    height: 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    transition: 1s;
}
.excluir-conta:hover {
    background-color: #b40000;
    transform: scale(1.2);
}
.Nome {
    font-size: 20pt;
    font-weight: bold;
}
.seta {
    width: 40px;
    height: 40px;
    filter: drop-shadow(1px 1px 5px #a55801);
}
#voltar {
    margin-right: auto;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    transition: 1s;
}
#voltar:hover {
    transform: scale(1.2);
}
#file {
    display: none;
}
.input-file {
    font-weight: bold;
    text-decoration: underline;
    transition: 1s;
}
.input-file:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.Foto {
    width: 90%;
    height: 90%;
    border-radius: 100%;
    position: absolute;
}

@media (max-width: 480px) {
    section {
        width: 80vw;
    }
}